[submodule "external/nifly"]
	path = external/nifly
	url = https://github.com/ousnius/nifly.git
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
[submodule "cmake_common"]
	path = cmake_common
	url = https://github.com/ModOrganizer2/cmake_common
[submodule "libbsarch"]
	path = libbsarch
	url = https://github.com/ModOrganizer2/libbsarch
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
